.clear {
    clear:both;
}

html {

}



/*统一配置*/
.page {
	width:1920px;
	position: relative;
	
}

.page .wapper {
    width:1920px;
    
}

.page .wapper .content {
	width: 1105px;
	margin:0 auto;
}

.page .wapper .content .content-img {
	width: 100%;
	display: block;
}



/* 首页 */
#page_index #block_nav {
	height:114px;
}

	#page_index #block_nav #icon_logo {
		width:142px;
		height:114px;
		display: block;
		float: left;
	}

	#page_index #block_nav #nav_list {
		display:block;
		float:right;
		height:114px;
		line-height: 114px;
		font-size: 20px;
	}
	
	#page_index #block_nav #nav_list .nav-item {
		padding:0 10px
	}
	
#page_index #blcok_news {
	background-color: #f5f5f5;
	min-height:600px;
}

#page_index #blcok_footer {
	background-color: #343434;
	min-height:100px;
}
	
	
